@font-face {
    font-family: "PT-sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
   }

@font-face {
    font-family: "PT-sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Как сделать visually-hidden будет рассмотрено позднее */

.visually-hidden {
    display: none;
}


/* Общая стилистика */

body {
    font-family: "PT-sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin: 0;
    background: #F2F2F2;
}

.shadow {
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 1200px;
    background-color: #FDFDFF;
}


/* Стили для header */

.main-header {
    width: 1060px;
    height: 64px;
    margin: 0 auto;
    padding: 0 70px;
    display: flex;
}

.header-navigation {
    display: flex;
    margin-left: 28px;
}

.navigation-list {
    display: flex;
    list-style: none;
    padding: 0 16px;
    margin: 0;

}

.navigation-item {
    margin-right: 40px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    align-self: center;
}

.navigation-item-current {
    border-bottom: 2px solid #756257;
    padding-top: 21.5px;
    padding-bottom: 18.5px;
}

.navigation-item:last-child {
    margin-right: 0;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
}


.header-buttons {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 20px 0 auto;
}

.navigation-user-item {
    width: 32px;
    margin: 0 6px;
    text-align: center;
    line-height: 64px;


}

.navigation-user-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
}

.navigation-user-link-favourite {
    position: relative;
}

.navigation-user-link-favourite::before {
    position: absolute;
    content: "12";
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    text-align: center;
    background: #7DB54F;
    border-radius: 10px;
    width: 20px;
    padding: 5px 0 5px 0;
    margin-left: 18px;
    margin-top: -19px;
}

.button {
    background: #756157;
    border-radius: 4px;
}

.button-header {
    color: #FFFFFF;
    text-decoration: none;
    align-self: center;
    padding: 8px 34px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

/* Стили для main */

.page-main {
    margin: 0 auto;
    padding: 0;
}

.title-h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

/* Стили для hero */

.hero {
    margin-bottom: 90px;
}

.herobackground {
    height: 485px;
    background-image: url(../img/index-background-top-decoration.svg), url(../img/index-background-top.jpg);
    background-repeat: no-repeat;
    background-position: bottom, top;
}

.welcome-words {
    display: block;
    margin: 0 auto 25px;
    padding-top: 51.4px;
}

.background-style {
    display: block;
    margin: 0;
}

.hero .title-h2 {
    margin: 69px 290px 25px;
    text-align: center;
}

.reason-description {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0;

}

/* Стили для секции преимущества */

.advantages {
    margin: 0 auto;
    padding: 0;
}

.agvantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantage-item {
    width: 230px;
    padding: 102px 85px;
    text-align: center;
}

.advantage-item-big  {
    width: 800px;
    height: 385px;
    vertical-align: middle;
}

.advantage-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 0 62px 0;
    position: relative;
}

.advantage-item-background-blue .advantage-item-title::before {
    position: absolute;
    content: "";
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    top: 86px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
}

.advantage-item-background-light-blue .advantage-item-title::before, .advantage-item-background-grey .advantage-item-title::before {
    position: absolute;
    content: "";
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    top: 86px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
}

.advantage-item-description {
    margin: 0 auto;
}

/* Стилистика цветов и фонов секции преимуществ */

.advantage-item-background-blue {
    background-color: #82B3D3;
    color: #FFFFFF;
}

.advantage-item-background-light-blue .advantage-item-title, .advantage-item-background-grey .advantage-item-title {
    color: #000000;
}

.advantage-item-background-light-blue {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-background-grey {
    background-color: rgba(131, 179, 211, 0.2);
}

/* Стили для секции приглашения */


.suggestion {
    margin: 0 auto;
    padding: 0;
}

/* Стили для заголовка секции приглашения */

.invitation {
    margin: 64px auto;
    padding: 0;
    text-align: center;
}

.invitation .title-h2 {
    margin: 0 auto;
    width: 505px;
}

.invitation-reason-description {
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
}

/* Стили для списка преимуществ секции приглашения */

.suggestion-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.suggestion-item {
    width: 400px;
    text-align: center;
    padding: 81px 85px;
}

.sugestion-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 30px auto;
    color: #000000;
}

.sugestion-item-description {
    margin: 0;
}

.suggestion-item-background-light-blue {
    background-color: rgba(131, 179, 211, 0.12);
}

/* Стили для секции перехода к поиску отеля */

.search-hotel {
    width: 592px;
    margin: 0 auto;
    padding: 96px 304px;
    text-align: center;
}

.search-hotel .title-h2 {
    margin: 0 0 20px 0;
}

.search-reason-description {
    margin: 0 auto 54px auto;
    font-size: 22px;
    line-height: 26px;
}

/* Стили для кнопки секции перехода к поиску отеля */

.button-booking {
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 50px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}


/* Стили для секции подписки */

.subscription {
    margin: 0 auto;
    padding: 96px 258px 104px;
    text-align: center;
    background-image: url(../img/background-subscribe.png);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.subscription .title-h2 {
    margin: 0 0 20px 0;
    color: #FFFFFF;
}

.subscription-promises {
    margin: 0 auto 54px auto;
    width: 475px;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

/* Стили для формы ввода и кнопки, в секции подписки */

.subscription-form-inline {
    width: 684px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button-subscribe {
    color: #FFFFFF;
    align-self: center;
    padding: 8px 50px;
    text-transform: uppercase;
    font-family: "PT-sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    border: none;
    border-radius: 0 4px 4px 0;
    background: #82B3D3;
    cursor: pointer;
}


.form-label {
    margin: 0;
    padding: 0;
}

.email {
    width: 452px;
    border: none;
    border-radius: 4px 0 0 4px;
    height: 24px;
    padding: 14px 20px;
    font-family: "PT-sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.email::placeholder {
    color: #000000;
    opacity: 0.6;
}



/* Стили для футера */

.main-footer {
    margin: 0 auto;
    padding: 40px 70px 30px;
    width: 1060px;
    display: flex;
    justify-content: space-between;
}

.social-networks {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 142px;
    align-items: center;
}

.social-network-item {
    width: calc(100%/3);
    height: 100%;
}

.vk, .telegramm, .youtube {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 6px;
}

.telephone-number {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
}

.htlm-academy-logo {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Стили для страницы каталога */

/* Стили секции Поиска */

.search {
    background: url(../img/background-search.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 35px 70px 70px;
    color: #FFFFFF;
}

.search-header-title {
    margin: 0 0 8px 0;
    padding: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs {
    margin: 0 0 40px 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.breadcrumbs-item {
    font-size: 16px;
    line-height: 21px;
    margin-right: 28.5px;
}

.breadcrumbs-item-home {
    width: 12px;
    margin-right: 28.5px;
}


.breadcrumb-home-logo {
    position: relative;
    display: block;
    line-height: 12px;
}

.breadcrumb-home-logo::before {
    position: absolute;
    content: url(../img/breadcrumbs-arrow.svg);
    left: 23.3px;
}

.breadcrumbs-link {
    display: inline-block;
}

.catalog-filter {
    display: flex;
}

/* Стили секции фильтров */

.filter-catalogue {
    border: none;
    padding: 0;
    margin: 0;

}

.filter-catalogue:nth-child(1) {
    margin-right: 70px;
}

.filter-catalogue:nth-child(2) {
    margin-right: auto;
}

.filter-catalogue-title {
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.filter-catalogue-list {
    margin: 32px 0 0 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 23px;
}

.filter-catalogue-item {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
}

.filter-catalogue-item:last-child {
    margin-bottom: 0;
}

.control {
    display: flex;
    align-items: center;
}

.control-input {
    margin: 0 16px 0 0;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
}

.buttons-aplly-clear-container {
    padding: 0;
    margin: 0 0 0 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
}

.button-apply {
    padding: 8px 50px;
    background: #82B3D3;
    border: none;
    border-radius: 4px;
    font-family: "PT-sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

.button-clear {
    padding: 8px 57.5px;
    background: none;
    border: none;
    font-family: "PT-sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

/* Стили секции каталог */

.catalogue {
    margin: 0;
    padding: 50px 70px 60px;
}


/* Стили секции header каталог */

.catalogue-header {
    margin: 0 0 40px 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.catalogue-header-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 auto 0 0; /* или 200px */
    color: #000000;
}


.select-control {
    width: 292px;
    padding: 14px 40px 14px 20px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    font-family: "PT-sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    appearance: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(/img/custom-selector-option.svg);
    background-repeat: no-repeat;
    background-position: 260px 21px;
}


.view-control {
    margin: 0 0 0 70px;
    padding: 0;
    display: flex;
    list-style: none;
}

.view-control-item {
    margin: 0 8px 0 0;
}

.view-control-item:last-child {
   margin-right: 0;
}

.view-control-item .button {
    display: flex;
    padding: 15px 14px;
    margin: 0;
    background: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-table-view {
    border: 2px solid #000000;

}

.button-block-view, .button-list-view {
    border: 2px solid #E5E5E5;
}

/* Стили секции main каталог */

.choose-hotels {
    width: 1060px;
}

.hotels-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 80px 0;
    padding: 0;
    list-style: none;
}


.hotel-item {
    padding: 20px;
    margin: 0 0 20px 0;
    width: 300px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}

.hotel-item:last-child {
    margin: 0;
}


.hotel-photo {
    display: block;
    margin: 0 0 16px 0;
}

.hotel-item-title {
    margin: 0 0 16px 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.price {
    display: flex;
    justify-content:space-between;
    margin: 0 0 16px 0;
}

.price .type, .price .price-result {
    margin: 0;
}

.hotel-buttons-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.button-more-conatainer {
    margin: 0 20px 0 0;
    height: 36px;
    display: flex;
}

.button-more {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    padding: 8px 26px;
    border-radius: 4px;
    border: none;
}

.button-add-favourite-container {
    margin: 0;
    padding: 0;
}

.button-add-favourite {
    margin: 0;
    width: 140px;
    padding: 8px 0 8px 0;
    background: #82B3D3;
    border: none;
    font-family: "PT-sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

.button-add-favourite-applied {
    background: #7DB54F;
}

.hotel-rating-stars {
    margin: 16px 0 0 0;
    padding: 0;
    height: 37px;
    background: url(../img/four-stars-template.svg);
}

.four-stars {
    width: 140px;
}

.three-stars {
    width: 65px;
}

.two-stars {
    width: 43px;
}

.hotel-rate {
    margin: 16px 0 0 0;
    padding: 9px 22px 8px 23px;
    background: #F2F2F2;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

/* Стили пагинации */

.pagination {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    position: relative;
}

.pagination::before {
    position: absolute;
    content: "";
    border-top: 1px solid #E6E6E6;
    top: -39px;
    width: 100%;
}

.pagination-item {
    width: 60px;
    height: 60px;
    margin-right: 8px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background: #82B3D3;
    border-radius: 4px;
    color: #FFFFFF;
    width: 60px;
    height: 60px;
}

.pagination-more {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    width: 60px;
    height: 60px;
}

.pagination-current {
    background: #F2F2F2;
    color: #000000;
}

/* Стили для секции подписка */

.subscription-page-catalogue {
    background: none;
}

.subscription-page-catalogue .title-h2 {
    color: #000000;
}

.subscription-page-catalogue .subscription-promises {
    color: #333333;
}

.email-dark {
    background: #F2F2F2;
}
